/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #3a2620; /*Dark Brown */
    --secondary-color: #aa9581; /*Light Brown */
    --highlight-color: #416a8e; /*Blue*/
    --highlight-color-light: #7a9fc2; /*Light Blue*/ 
}

/* Global Styles */

body {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h1,
h2 {
   text-transform: uppercase; 
}

h2 {
    margin-bottom: 2rem;
}

.sub-heading-color{
    color: var(--highlight-color);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}


/* Navbar */

#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width: 30px;
}

/*Header*/

#header .lead {
    font-family: var(--secondary-font);
}

/*Services*/

#services .card-footer {
    font-weight: bold;
    color: var(--highlight-color);
    background-color: transparent;
}

#services .card {
    margin-bottom: 1.5rem;
}

/*Game Library Cards*/

#new-games .card,
#fav-games .card {
    border: none;
}

/* Grid Visualisation CSS For Testing *//*
.container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
}

/*Medium Devices (Tablets <768px)*/
@media screen and (min-width: 768px) {
    /*Cards All Same Height*/
    #services .card-body {
        min-height: 200px;
    }
}
/*Medium Devices (Tablets <992px) */
@media screen and (min-width: 992px) {
    /*Cards All Same Height*/
    #services .card-body {
        min-height: auto;
    }
}
/* XL Devices (Large Desktops <1200px)*/
@media screen and (min-width: 1200px) {
    /*Cards All Same Height*/
    #services .card-body {
        min-height: 200px;
    }
}
/* XXL Devices (Larger Desktops <1400px) */
@media screen and (min-width: 1400px) {
    /*Cards All Same Height*/
    #services .card-body {
        min-height: 200px;
    }
}